server {
        listen {{ nginx_internal_port }};
        root /var/www/html;
        server_name {{ test_site_domain_name }};

    location / {
      try_files $uri $uri/ /index.php;
    }

    location ~ \.(php|html|htm) {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass php-fpm:9000;
        fastcgi_index (index.html|index.php|index.htm);
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }
}

