<?php
ini_set('display_errors', '1');
ini_set('display_startup_errors', '1');
error_reporting(E_ALL);

$db="mysql";
$servername = "mysql"; //домен к которому мы подсоединяемся, поскольку все происходит на одной машине - это localhost
$username = "root"; //имя пользователя которое мы ставили на шаге установки mysql
$password = "{{ mysql_root_password }}"; //пароль пользователя
$port = "{{ mysql_default_port }}";

// создание соединения
try
{
    $conn = new PDO("mysql:host=$servername;dbname=$db;port=$port", $username, $password);
}
catch (PDOException $e) {
    print_r($e);
    echo "<br><center style='font-size:42px;color:red'>Нет связи с сервером БД</center><br><center style='font-size:22px;color:red'>Сообщите об этом системному администратору</center>";
    exit;
}

$sql = "SELECT VERSION()"; //запрос для выборки версии MySQL
$stmt = $conn->prepare($sql);
$stmt->execute();

if ($stmt->rowCount() > 0) {
    // вывести данные из каждого столбца, но поскольку их 1 то и выведется только одна строка
    while($row = $stmt->fetch(PDO::FETCH_ASSOC)) {
        print_r($row);
    }
} else {
    echo "0 results";
}
#$conn->close(); //закрываем соединение с базой данных
?>
