
services:
  nginx:
    container_name: {{ nginx_container_name }}
    build: # билд образа из dockerFile
      context: . # путь в конексте которого будет сбилжен образ
      dockerfile: ./files/dockerfiles/nginx/Dockerfile # путь до dockerFile из которого будет собран образ
    restart: always
    ports:
      - {{ nginx_external_port }}:{{ nginx_internal_port }}
    volumes:
      - {{ lemp_node }}/nginx/confd:/etc/nginx/conf.d
    networks:
      - {{ docker_service_network_name }}
    depends_on: # запуск контейнера зависить от
      php-fpm:
          condition: service_healthy
      mysql:
          condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:{{ nginx_internal_port }} || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 60s

  php-fpm:
    container_name: {{ php_container_name }}
    build:
      context: .
      dockerfile: ./files/dockerfiles/php-fpm/Dockerfile
    networks:
      - {{ docker_service_network_name }}
    depends_on: # запуск контейнера зависить от
      mysql:
          condition: service_healthy
    healthcheck:
      test: ["CMD", "php-fpm-healthcheck"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 60s


  mysql:
    container_name: {{ mysql_container_name }}
    image: mysql:9.0.1
    environment:
{% for t in mysql_environment %}
      - {{ t }}
{% endfor %}
    networks:
      - {{ docker_service_network_name }}
    volumes:
      - {{ lemp_node }}/mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 60s

networks:
  {{ docker_service_network_name }}:
    driver: {{ docker_service_network_type }}
